//= require ./bootstrap
//= require octicons
//= require_self

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  background-image: image-url('background.png');
}

.body-background {
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  // background: #f9f9f9;
  // background: linear-gradient(to right, #e7e7e7 0%, #f9f9f9 1%, #f9f9f9 99%, #e7e7e7 100%);
  background: linear-gradient(to right, #f9f9f9, #f9f9f9);
  background-repeat: repeat-y;
  background-size: 800px 1px;
  background-position: top center;
}

input[type="search"] {
  -webkit-appearance: searchfield !important;
}

footer {
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}

.typeahead {
  margin-top: 3px;
  cursor: pointer !important;

  .panel-body {
    padding: 0;
  }

  .media {
    padding: 15px 15px 5px 15px;
    margin: 0;
    height: 95px !important;
  }

  .media:first-child {
    padding-top: 15px;
  }

  .media.active {
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    margin-top: -1px;
    margin-bottom: 1px;
    border-left: 5px solid #e7e7e7;
    margin-left: -5px;
  }
}

.suggestions {
  .media {
    padding: 0;
    margin-bottom: 5px;
    height: 64px !important;
  }
  .media:hover {
    border-left: 5px solid #e7e7e7;
    margin-left: -5px;
  }
}
